name: Create Release
on:
  repository_dispatch:
    types: az_bootstrap_release

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          ref: ${{ github.event.client_payload.branch }}

      - name: Build variables
        run: echo "AZ_BOOTSTRAP_CLONE_DIR=arizona-bootstrap" >> ${GITHUB_ENV}

      - name: Get new updates from arizona-bootstrap
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: az-digital/arizona-bootstrap
          path: ${{ env.AZ_BOOTSTRAP_CLONE_DIR }}
          ref: ${{ github.event.client_payload.sha }}

      - name: Copy new version of Arizona Bootstrap and commit
        run: |
          distwhitelist='css js'
          srcroot='dist'
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --global user.name "${GITHUB_ACTOR}"
          for w in $distwhitelist ; do
            rsync --recursive --delete "${AZ_BOOTSTRAP_CLONE_DIR}/${srcroot}/${w}/" "${w}/"
            git add "${w}"
          done
          git commit -m "Arizona Bootstrap updates for ${{ github.event.client_payload.version }}"
          git push
          echo "RELEASE_SHA=$(git rev-parse HEAD)" >> ${GITHUB_ENV}

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: "v${{ github.event.client_payload.version }}"
          name: "v${{ github.event.client_payload.version }}"
          draft: false
          prerelease: false

  dispatch:
    needs: release
    strategy:
      matrix:
        repo:
          - az-digital/az_quickstart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get release data
        run: |
          sha=$(git rev-parse HEAD)
          echo "RELEASE_SHA=${sha}" >> ${GITHUB_ENV}
      - name: Notify dependencies
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: az_bootstrap_release
          client-payload: '{"version": "${{ github.event.client_payload.version  }}", "sha": "${{ env.RELEASE_SHA }}", "branch": "${{ github.event.client_payload.branch }}" }'
